#bodyContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #777;
}

#routerApp {
    flex: 1 0 auto;
}

#sticky {
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 30px;
}

#sticky-front {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#google-logo {
    cursor: pointer;
}

#app {
    margin-left: 30px;
}

.autocomplete-results {
    margin: 45px 0 0 -37px;
    width: 520px;
}

#input-text {
    width: 630px;
}

#search {
    width: 506px;
}

i {
    color: rgba(0, 0, 0, 0.54);
}

    i:hover {
        color: rgba(0,0,0,.87);
    }

.links {
    color: #5f6368;
}

    .links:hover {
        cursor: pointer;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87) !important;
    }

a {
    color: #5f6368;
    text-decoration: none;
}

li.category-active span a {
    color: #1A73E8;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
}

#sticky-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.middle-icon {
    padding-left: 11px;
}

#top-menu {
    color: #777;
    border-bottom: 1px solid #e4e4e4;
    line-height: 15px;
    height: 58px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.categories-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
}

    .categories-bar li {
        padding-left: 17px;
        padding-right: 17px;
        height: 100%;
    }

        .categories-bar li:first-of-type {
            padding-left: 20px;
        }

.category-active {
    height: 100%;
    font-weight: bolder;
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

    .category-active span, .category-inactive span {
        line-height: 58px;
    }

.category-inactive {
    height: 100%;
}

#main-container {
    align-items: flex-start;
    justify-content: flex-start;
}

.results-counter {
    line-height: 43px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
}

.search-results {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    align-items: flex-start;
    justify-content: flex-start;
}

.search-result {
    margin-bottom: 30px;
}

.links-results {
    color: #1a0dab;
}

    .links-results:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.links-results-small {
    line-height: 1.54;
    font-size: smaller;
}

.links-results-big {
    line-height: 1.33;
    font-size: 18px;
}

.search-result ul li:nth-of-type(2) {
    line-height: 23px;
    font-size: 15px;
    color: #006621;
}

.search-result ul li:nth-of-type(3) {
    line-height: 1.54;
    word-wrap: break-word;
    font-size: small;
    color: #545454;
}

#footer-top, #footer-bottom {
    padding-left: 170px;
}

    #footer-bottom li {
        padding-left: 27px;
    }

        #footer-bottom li:first-of-type {
            padding-left: 0;
        }

#footer-bottom-top-right {
    display: flex;
    align-items: center;
    margin-left: 13px;
    padding-left: 16px;
    border-left: 1px solid #e4e4e4;
    line-height: 15px;
    justify-content: center;
    height: 25px;
}

    #footer-bottom-top-right i {
        color: rgba(0, 0, 0, .33);
    }

.imitate-button {
    border: 1px solid gray;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    color: #5F6368;
    cursor: pointer;
}
